{% extends 'layouts/base.twig' %}
{% block content %}
    <div class="content-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Slim</h1>
        			<div>a microframework for PHP</div>
                </div>
            </div>    
        </div>
    </div>
{% endblock %}