{
	"db": {
		"dbname": "slim3skeleton",
		"host": "localhost",
		"username": "root",
		"password": "123",
		"driver": "mysql"
	},
	"mailer": {
		"host": "slim3skeleton.com.br",
		"port": "25",
		"username": "slim3skeleton",
		"password": "",
		"secure": "ssl"
	}
}